html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: block;
}
body {
  font-size: 14px;
  line-height: 1.5em;
}
ul, ol {
  padding: 0;
  list-style: none;
  margin: 0;
}
em {
  font-style: normal;
  font-weight: bold;
}
i {
  font-style: normal;
}
a {
  text-decoration: none;
}
