.setlist {
  margin: 0;
  padding: 0 0 44px;
  min-height: 100%;
  box-sizing: border-box;
}
.setlist:empty:after {
  content: "Tap to add a song.";
  display: block;
  text-align: center;
  padding: 1em;
}

.song {
  margin: 0;
  padding: 1em 1em 1em 5em;
  display: block;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  input {
    margin: 0;
    padding: 0;
    font-size: 1em;
    height: 1.5em;
    background: none;
    border: none;
    font-family: inherit;
    font-weight: bold;
  }
  input:focus {
    outline: none;
  }
  .icon-handle {
    display: block;
    cursor: move;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 4em;
    background: yellow;
  }
}

