.setlist {
  padding: 4em 0 6em;
  min-height: 100%;
  box-sizing: border-box;
  max-width: 32em;
  margin: 0 auto;
}
.sized {
  max-width: 32em;
  margin: 0 auto;
}

.setlist:empty:after {
  content: "Tap to add a song.";
  display: block;
  text-align: center;
  padding: 1em;
}

.song {
  margin: 0;
  padding: 1em 1em 1em 5em;
  display: block;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-transition: -webkit-transform .2s;
  input {
    margin: 0;
    padding: 0;
    font-size: 1em;
    height: 1.5em;
    background: none;
    border: none;
    font-family: inherit;
    font-weight: bold;
  }
  input:focus {
    outline: none;
  }
  .handle {
    display: block;
    cursor: move;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    font-size: 2em;
    text-align: center;
    line-height: 2em;
  }
}

