.setlist {
  padding: 4em 0 6em;
  min-height: 100%;
  box-sizing: border-box;
  max-width: 32em;
  margin: 0 auto;
  position: relative;
}
.sized {
  max-width: 30em;
  margin: 0 auto;
}

.setlist:empty:after {
  content: "Tap to add a song.";
  display: block;
  padding: 1em;
}

.song {
  -webkit-user-select: none;
  margin: 0;
  padding: 1em;
  display: block;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: move;
  text-shadow: none;
  -webkit-transform: translate3d(0,0,0);
  -webkit-user-select: none;
  * { margin: 0; line-height: 1em; }
  input {
    color: white;
    background: none;
    border: none;
    width: 100%;
  }
}
.clone { visibility: hidden; }
