.is_editing {
  input { display: inline-block; }
  h3 { display: none; }
}
.is_dragging {
  -webkit-transform: scale(1.025);
  background-color: #303030;
  z-index: 10;
  position: absolute;
  width: 100%;
}
