$color_text: #616767;
$color_light: #e5e6e8;
$color_dark: #242021;
$color_red: #ac4f4a;

html {
  background: #303030;
  color: $color_light;
  font-family: sans-serif;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
}

.song {
  border-top: 1px solid #444;
  border-bottom: 1px solid #222;
  text-shadow: 0 1px 0 white;
  input {
    color: $color_light;
    -webkit-font-smoothing: antialiased;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: bold;
    &:focus {
      outline: none;
    }
  }
}
.handle {
  border-right: 1px solid #444;
  width: 2em;
  * { color: $color_red; text-shadow: none; }
}
a {
  background: $color_red;
  color: $color_light;
  border-radius: .25em;
}
