<!DOCTYPE html>
<html lang="en">
<head>
<title>Sets</title>
<meta name="viewport"
   content="maximum-scale=1.0, minimum-scale=1.0, width=device-width" />
<!-- width=device-width causes the iPhone 5 to letterbox the app, so
we want to exclude it for iPhone 5 to allow full screen apps -->
<meta name="viewport"
  content="initial-scale=1.0,user-scalable=no,maximum-scale=1"
  media="(device-height: 568px)" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<!-- Standard iPhone -->
<link rel="apple-touch-icon-precomposed" sizes="57x57" href="touch-icon-iphone-114.png" />
<!-- Retina iPhone -->
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="touch-icon-iphone-114.png" />
<!-- Standard iPad -->
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="touch-icon-ipad-144.png" />
<!-- Retina iPad -->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="touch-icon-ipad-144.png" />
{% css_asset_tag global %}
- /_assets/css/manifest.scss
{% endcss_asset_tag %}
{% javascript_asset_tag global %}
- /_assets/js/modernizr.js
- /_assets/js/jquery-1.9.1.js
- /_assets/js/jquery.ui.js
- /_assets/js/jquery.ui.touchpunch.js
- /_assets/js/hammer.js
- /_assets/js/underscore.js
- /_assets/js/backbone.js
- /_assets/js/backbone-localstorage.js
- /_assets/js/song.coffee
- /_assets/js/app.coffee
{% endjavascript_asset_tag %}
</head>
<body>
  <div id="header">
    <div class="sized">
      <h1>Set List</h1>
      <div id="send">
        <a href="mailto:"><i class="icon-mail"></i></a>
      </div>
    </div>
  </div>
{{ content }}
</body>
</html>
